Wjakimszkle/Wjakimszkle/bin/
Wjakimszkle/Wjakimszkle/obj/
Wjakimszkle/Wjakimszkle.DataAccess/bin/
Wjakimszkle/Wjakimszkle.DataAccess/obj/
Wjakimszkle/LiquorRegister.ApplicationServices/bin/
Wjakimszkle/LiquorRegister.ApplicationServices/obj/
